# FastAPI y dependencias
fastapi
uvicorn[standard]
python-dotenv
pydantic
pydantic-settings
python-multipart

# Base de datos
mysql-connector-python

# Firebase
firebase-admin

# Utilidades
python-jose[cryptography]
passlib[bcrypt]
email-validator
